---
import "../styles/global.css";

export interface Props {
	title: string;
	description?: string;
	ogImage?: string | undefined;
	articleDate?: string | undefined;
}

const {
	title,
	description = "Hey there. I am a software developer based in New York, currently at Chronograph Private Equity, where I lead the development of tools to automate the extraction of unstructured data from our clients.",
	ogImage,
	articleDate,
} = Astro.props;
console.log(Astro.url.pathname, Astro.site);
const socialImageURL = new URL(ogImage ? ogImage : "/og-image.png", Astro.url)
	.href;

const titleSeparator = "|";

const siteTitle = `${title} ${titleSeparator} Howard Dean Watts`;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{siteTitle}</title>

<!-- SEO -->
<meta name="title" content={siteTitle} />
<meta name="description" content={description} />
<meta name="author" content="Howard Dean Watts" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content={articleDate ? "article" : "website"} />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={socialImageURL} />
{
	articleDate && (
		<>
			<meta property="article:author" content="Howard Dean Watts" />
			<meta property="article:published_time" content={articleDate} />
		</>
	)
}

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={socialImageURL} />

<!-- RSS auto-discovery -->
<!-- <link
	rel="alternate"
	type="application/rss+xml"
	title={siteConfig.title}
	href="/rss.xml"
/> -->
